* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

header {
  text-align: center;
  background-color: #40414f;
}

.top {
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 20px;
  margin: auto;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

p,
label {
  font-size: 1em;
  color: #bcbaba;
  padding-top: 10px;
}

h2 {
  font-size: 1.2em;
  padding: 25px 0 10px;
}

main {
  margin: 0 15px;
}

#contact input,
         select{
  width: 100%;
  border-radius: 5%;
  margin: 10px 0;
  background-color: #e5e5e5;
  border: none;
  height: 40px;
}


.first-part {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px black solid;
  margin-bottom: 2px;
}

#contact {
  border: none;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

#newsletter {
  border: none;
  width: 100%;
}

ul li{
  list-style-type: none;
  padding-top: 10px;
}

li:last-child {
  padding-bottom: 10px;
}

textarea {
   width: 100%;
   border-radius: 5%;
   margin: 10px 0 20px;
   background-color: #e5e5e5;
   border: none;
   height: 80px;
 }

button {
  width: 100%;
  border-radius: 5%;
  margin: 10px 0;
  background-color: #2cccae;
  height: 40px;
  border: none;
  color: white;
}

footer p {
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
}

input:active {
  border: 5px black solid;
}

input,
textarea {
  padding: 5px 20px;
}

span {
  font-size: 1em;
  color: #bcbaba;
  padding-left: 10px;
}

textarea:focus {
  border: 5px solid lightblue;
}

input#zipcode {
  width: 50%;
  margin-bottom: 20px;
}
@media(min-width: 768px) {
  main {
    margin: 0 25%;
  }
  #contact {
    padding-bottom: 30px;
  }
  #contact label {
    width: 30%;
    float: left;
    padding-top: 20px;
  }
  #contact input,
  #contact select {
    width: 70%;
    float: right;
  }
  .group {
    display: block;
    width: 100%;
  }
  input#zipcode {
    width: 25%;
    margin-right: 45%;
  }
  .intro {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
  }

  h2,
  footer p {
    padding-top: 40px;
  }


}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.8);
  text-align: right;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
}
